
.menu{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #d6e279;
    outline:2px solid #141414;
    border-width: 10px;
    border-radius: 10px;
    background-color: #d6e279 ;

}
.menu:hover{
    border-color: rgb(122, 134, 134);   
    background-color: rgb(122, 134, 134);
}
.zag{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.par{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}
.zagMin{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}